
/**Main**/
.JS--MainPage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.JS--MainPage .JS--MainSection{
    width: 100%;
    height: 88vh;
    display: flex;
    padding: 5px 10px;
    justify-content: center;
}
.JS--MainPage .JS--MainSection article{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.JS--MainPage .JS--MainSection .JS--ContentLeft{
    justify-content: center;
    border-right: 1px solid #444;
    gap: 25px;
    
}
.JS--MainPage .JS--MainSection .JS--ContentLeft img{
    width: 60%;
    height: 65%;
    border-radius: 25px;
    filter: drop-shadow(0 0 5px #888);
}
.JS--MainPage .JS--MainSection .JS--ContentLeft .JS--ContentLeftText{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}
.JS--MainPage .JS--MainSection .JS--ContentLeft .JS--ContentLeftText h3{
    font-size: 1.6em;
    color: var(--FontColor);
    letter-spacing: 2px;
    font-weight: 500;
}
.JS--MainPage .JS--MainSection .JS--ContentLeft .JS--ContentLeftText p{
    font-size: 1.2em;
    color: var(--FontColor);
    letter-spacing: 1px;
    font-weight: 400;
}
.JS--MainPage .JS--MainSection .JS--ContentRight  h2{
    font-size: 1.6em;
    color: var(--FontColor);
    letter-spacing: 2px;
}
.JS--MainPage .JS--MainSection .JS--ContentRight .JS--ListBlog{
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    border-radius: 15px;
    width: 95%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: center;
    padding: 5px 15px;
    overflow-y: auto;
    scroll-behavior: smooth;
}
.JS--MainPage .JS--MainSection .JS--ContentRight .JS--ListBlog::-webkit-scrollbar{
    width: 10px;
}
.JS--MainPage .JS--MainSection .JS--ContentRight .JS--ListBlog::-webkit-scrollbar-thumb{
    background-color: #666;
    border-radius: 10px;
}
.JS--MainPage .JS--MainSection .JS--ContentRight .JS--ListBlog .JS--BlogCard{
    border: 1px solid #444;
    width: 30%;
    height: 45%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .1s ease-out;
    cursor: pointer;
}
.JS--MainPage .JS--MainSection .JS--ContentRight .JS--ListBlog .JS--BlogCard:hover{
    transform: scale(1.02);
    background-color: #222;
}
.JS--MainPage .JS--MainSection .JS--ContentRight .JS--ListBlog .JS--BlogCard:hover h4{
    color: #ddaa55;
}
.JS--MainPage .JS--MainSection .JS--ContentRight .JS--ListBlog .JS--BlogCard:hover button{
    background-color: #111;
    color: #ddaa55;
    transform: scale(1.05);
}
.JS--MainPage .JS--MainSection .JS--ContentRight .JS--ListBlog .JS--BlogCard .JS--BlogCardImage{
    width: 100%;
    height: 63%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #333;
}
.JS--MainPage .JS--MainSection .JS--ContentRight .JS--ListBlog .JS--BlogCard img{
    width: 100%;
    height: 75%;
    border-radius: 10px;
}
.JS--MainPage .JS--MainSection .JS--ContentRight .JS--ListBlog .JS--BlogCard .JS--BlogCardText{
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.JS--MainPage .JS--MainSection .JS--ContentRight .JS--ListBlog .JS--BlogCard h4{
    font-size: 0.9em;
    color: var(--FontColor);
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    letter-spacing: 1px;
}
.JS--MainPage .JS--MainSection .JS--ContentRight .JS--ListBlog .JS--BlogCard button{
    width: 80%;
    padding: 7px 10px;
    border: none;
    outline: none;
    border-radius: 15px;
    font-size: 0.9em;
    letter-spacing: 1px;
    background-color: #333;
    color: var(--FontColor);
    cursor: pointer;
    transition: .1s ease-out;
}
